@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --background: #000000;
  --font-color: #ffffff;
  --primary: #0000ff;
  --secondary: #ff0000;
  --font-fam: "Red Hat Display";

  --nav-fs: 24px;
  --nav-weight: 1000;
}
